<header id="header" class="header d-flex align-items-center fixed-top" style="--background-color: #ffffff !important;">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center" *ngIf="!isNavbarOpen">
            <img src="assets/img/TSRG Logo Tranparent.png" class="logo-image">
            <div class="text-left">
                <h1 class="text-2xl sm:text-3xl font-bold " class="sitename" style="display: flex; flex-direction: column;  font-family: 'Roboto', 'Arial', sans-serif; ">The Shree Ram Group</h1>
                <p class="size-lo">Your Vision is Our Mission</p>
            </div>
        </a>


        <nav id="navmenu" class="navmenu">
            <ul>
                <li style="cursor: pointer;" *ngFor="let menu of menus" (click)="onMenu(menu)"
                    [ngClass]="menu.active ? 'active' : ''">
                    <a>{{menu?.name}}</a>
                </li>
            </ul>

            <!-- Mobile Toggle Button -->
            <i class="mobile-nav-toggle d-xl-none" [ngClass]="!isNavbarOpen ? 'bi bi-list' : 'bi bi-x' " (click)="toggleNavbar()"></i>

            <!-- Mobile Menu -->
            <div [ngClass]="{'show': isNavbarOpen, 'collapse': true, 'navbar-collapse': true}" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <li style="cursor: pointer;" *ngFor="let menu of menus" (click)="onMenuMobile(menu)"
                        [ngClass]="menu.active ? 'active' : ''">
                        <a>{{menu?.name}}</a>
                        
                    </li>
                </div>
            </div>
        </nav>
    
       


        <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Jatitree</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-alt" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-alt" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" id="home" href="&lt;?php echo base_url();?&gt;">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="&lt;?php echo base_url();?&gt;BuyCars">Buy Goods</a>
                    <a class="nav-item nav-link" href="&lt;?php echo base_url();?&gt;SellGoods">Sell Goods</a>
                </div>
            </div>
            <div class="collapse navbar-collapse justify-content-end navbar-alt">
                <ul class="navbar-nav">
                    <li class="nav-item nav-link">
                        Logout
                    </li>
                </ul>
            </div>
        </nav> -->
    </div>
</header>