 a {
     text-decoration: none !important;
     /* Removes underline */

 }

 .sitename {
     color: #504e55 !important;
 }

 .navmenu li {
     color: white !important;
 }

 .navmenu li:hover>a,
 .navmenu .active,
 .navmenu .active:focus {
     color: #504e55 !important;
 }

 .navmenu li .active {
     color: #504e55 !important;

 }