<main class="main">

  <!-- Page Title -->
  <div class="page-title dark-background" style="background-color: #0a7aad ; color: white;">
    <div class="container position-relative">
      <h1>Client</h1>
      <p>At TSRG, we understand that each industry presents unique challenges and opportunities. We've had the privilege of partnering with a diverse range of clients across various industries, from manufacturing and energy to technology and logistics. This extensive experience has allowed us to develop a deep understanding of the specific needs and operational nuances of each sector. We believe that strong, collaborative partnerships are the foundation of success, and we are committed to delivering tailored solutions that drive tangible results for our clients. Our ability to adapt and innovate across different sectors reflects our dedication to excellence and our unwavering commitment to client satisfaction. We are proud to have built lasting relationships with industry leaders, and we look forward to continuing to expand our partnerships and contribute to the success of businesses across the globe.</p>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html" class="in-all">Home</a></li>
          <li class="current">Client</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- Client Posts Section -->
  <section id="blog-posts" class="blog-posts section">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6" *ngFor="let client of clientsList">
          <article>

            <div class="post-img">
      
              <!-- <img fallback-src [src]="client?.clientImage" alt="" style="height: 143px;" class="img-fluid"> -->
              <img [src]="client?.clientImage" alt="" class="img-fluid imginmiddle">
            </div>
          
            <div class="text-container">
              <p class="box-text">{{ client?.clientName }}</p>
              </div>
           

            <h2 class="title">
              <a href="blog-details.html">{{client?.clientDesc}}</a>
            </h2>

            <div class="d-flex align-items-center">
              <!-- <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0"> -->
              <div class="post-meta">
                <p class="post-author">{{client?.clientBrief}}</p>
                <!-- <p class="post-date">
                  <time datetime="2022-01-01">Jan 1, 2022</time>
                </p> -->
              </div>
            </div>

          </article>
        </div>
      <div *ngIf="clientsList.length==0" class="text-center">
          <h2>{{constant.NO_RECORDS_FOUND}}</h2>
        </div>
      </div>
    </div>
  </section>

</main>