<app-loader *ngIf="showLoader"></app-loader>
<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">

    <!-- <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in"> -->

    <div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="container position-relative">

        <div class="carousel-item active">
          <div class="carousel-container">
            <h2>Welcome to The Shree Ram Group</h2>
            <p>A group of specialized firms, provides comprehensive services nationwide, guided by "Your Vision is Our Mission" and a commitment to quality, safety and client satisfaction.
            </p>
            <a routerLink="/about" class="btn-get-started">Read More</a>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-container">
            <h2>Lorem Ipsum Dolor</h2>
            <!-- <p>hello this is rahul kushwaha.</p> -->
            <a routerLink="/about" class="btn-get-started">Read More</a>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-container">
            <h2>Sequi ea ut et est quaerat</h2>
            <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam.
              Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus
              deleniti vel. Minus et tempore modi architecto.</p>
            <a routerLink="/about" class="btn-get-started">Read More</a>
          </div>
        </div>

        <a class="carousel-control-prev" role="button" data-bs-slide="prev">
       
        </a>

        <a class="carousel-control-next" role="button" data-bs-slide="next">
        
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </div>

  </section>
  <!-- <app-chat></app-chat> -->
  <!-- Featured Services Section -->
  <section id="featured-services" class="featured-services section">

    <div class="container">

      <div class="row gy-4">
        <div class="col-lg-3 col-md-6" *ngFor="let cardInfo of homePageCards; let i=index;let isEven = even; let isOdd = odd">
          <div [ngClass]="getClass(isEven,cardInfo)"  (click)="cardInfo.showMore">
            <div class="icon">
              <i [class]="cardInfo.icon"></i>
            </div>
            <a class="stretched-link">
              <h3>{{cardInfo.title}}</h3>
            </a>
            <p>
              {{(cardInfo.showMore) ? cardInfo.desc : cardInfo.desc | slice:0:300}} <span *ngIf="!cardInfo.showMore">...</span> 
              <a href="javascript:;" *ngIf="!cardInfo.showMore" (click)="cardInfo.showMore=true">Show More</a>
              <a href="javascript:;" *ngIf="cardInfo.showMore" (click)="cardInfo.showMore=false">Show Less</a>
              </p>
          </div>
        </div>
      </div>

    </div>

  </section><!-- /Featured Services Section -->

  <!-- About Section -->
  <!-- <section id="about" class="about section light-background">

    <div class="container">

      <div class="row gy-4">
        <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
        </div>
        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
          <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
          </p>
          <ul>
            <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
            </li>
            <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span>
            </li>
            <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla
                pariatur.</span></li>
          </ul>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
          </p>
        </div>
      </div>

    </div>

  </section>/About Section -->

  <!-- Features Section -->
  <section id="features" class="features section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>What We Stand For</h2>
      <p>Where We're Going & How We'll Get There</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4 align-items-center features-item">
        <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
          <img src="assets/img/features-1.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
          <h3>Vision</h3>
          <p class="fst-italic">
            To be the most preferred customer-centric company in India, delivering  innovative  and  flexible  industrial outsourcing solutions that drive  sustainable growth  for our clients while simultaneously enhancing the  well-being and professional development  of our workforce.
          </p>
          <!-- <ul>
            <li><i class="bi bi-check"></i><span> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
            <li><i class="bi bi-check"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
            <li><i class="bi bi-check"></i> <span>Ullam est qui quos consequatur eos accusamus.</span></li>
          </ul> -->
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item">
        <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/features-2.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
          <h3>Mission</h3>
          <p class="fst-italic">
            Forging a new era of industrial outsourcing in India, empowering businesses to thrive and empowering our workforce to flourish.  We envision a future where INR 10,000 Crores in turnover, 20+ states of presence, and 100% customer satisfaction are not just targets, but a testament to our commitment by 2031.
          </p>
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item">
        <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
          <img src="assets/img/features-3.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7" data-aos="fade-up">
          <h3>Core Values</h3>
          <p>Our core values center on delivering exceptional service through a foundation of competence and reliability. We are committed to providing a highly skilled workforce that ensures efficient operations, consistently meeting and exceeding our clients' needs and expectations. We are driven by a goal-oriented approach, focusing on helping our clients achieve their intended objectives and propel their businesses forward. Above all, we prioritize the health and safety of our workforce, fostering a safe and secure work environment.
          </p>
          <!-- <ul>
            <li><i class="bi bi-check"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
            <li><i class="bi bi-check"></i><span> Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
            <li><i class="bi bi-check"></i> <span>Facilis ut et voluptatem aperiam. Autem soluta ad fugiat</span>.</li>
          </ul> -->
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item">
        <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out">
          <img src="assets/img/features-4.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
          <h3>Multiple Firms Under One Group</h3>
          <p class="fst-italic">
            We utilise a flexible distribution channel, leveraging multiple specialised firms and a large team to manage a wide range of operations, ensuring adaptability to diverse client requirements.

          </p>
        
        </div>
      </div><!-- Features Item -->

    </div>

  </section><!-- /Features Section -->

  <section id="testimonials" class="testimonials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Testimonials</h2>
      <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper init-swiper">
        <owl-carousel-o [options]="customOptions">

          <ng-container *ngFor="let rating of ratings">
            <ng-template carouselSlide [id]="rating.profile_photo_url">
              <!-- <img [src]="slide.src" [alt]="slide.src" [title]="slide.description"> -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img [src]="rating?.profile_photo_url" referrerpolicy="no-referrer" class="testimonial-img" alt="">
                  <h3>{{rating?.author_name}}</h3>
                  <h4>{{rating?.relative_time_description}}</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill" *ngFor="let star of rating.ratingArray"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span>{{rating?.text}}</span>
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>

    </div>

  </section>
</main>