<app-loader *ngIf="showLoader"></app-loader>
<main class="main">
  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">

    <!-- <img src="assets/img/hero-bg.jpg" alt="" data-aos="fade-in"> -->

    <div id="hero-carousel" class="carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="container position-relative">

        <div class="carousel-item active">
          <div class="carousel-container">
            <h2>Welcome to The Shree Ram Group</h2>
            <p>A group of specialized firms, provides comprehensive services nationwide, guided by "Your Vision is Our Mission" and a commitment to quality, safety and client satisfaction.
            </p>
            <a routerLink="/about" class="btn-get-started">Read More</a>
          </div>
        </div><!-- End Carousel Item -->

        <!-- <div class="carousel-item">
          <div class="carousel-container">
            <h2>Lorem Ipsum Dolor</h2>
            <p>hello this is rahul kushwaha.</p>
            <a routerLink="/about" class="btn-get-started">Read More</a>
          </div>
        </div>End Carousel Item -->

        <!-- <div class="carousel-item">
          <div class="carousel-container">
            <h2>Sequi ea ut et est quaerat</h2>
            <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam.
              Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus
              deleniti vel. Minus et tempore modi architecto.</p>
            <a routerLink="/about" class="btn-get-started">Read More</a>
          </div>
        </div>End Carousel Item -->

        <a class="carousel-control-prev" role="button" data-bs-slide="prev">
       
        </a>

        <a class="carousel-control-next" role="button" data-bs-slide="next">
        
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </div>

  </section><!-- /Hero Section -->
  <!-- <app-chat></app-chat> -->
  <!-- Featured Services Section -->
  <section id="featured-services" class="featured-services section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item item-cyan position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <a class="stretched-link">
              <h3>Quality</h3>
            </a>
            <p>Quality is not just a buzzword at TSRG; it's the cornerstone of our operations. We embed quality into every facet of our service delivery, ensuring that each interaction, project, and solution meets the highest standards. Our commitment extends beyond mere compliance, driving us to consistently exceed industry benchmarks. From meticulous planning and execution to rigorous quality control measures, we strive for excellence in every detail. This dedication to quality translates into reliable, durable, and superior outcomes for our clients, fostering trust and long-term partnerships. We understand that quality is not just about meeting expectations, but about setting new standards of performance and innovation.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item item-orange position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <a class="stretched-link">
              <h3>Passion</h3>
            </a>
            <p>At TSRG; it's the driving force behind our commitment. It fuels our dedication to every project, every interaction, and every solution we deliver. This passion translates into a proactive approach, where we go beyond the expected to achieve exceptional results. It inspires us to continuously seek innovative solutions and to approach challenges with enthusiasm and determination. We believe that when passion is combined with expertise, it creates a powerful synergy that benefits our clients, leading to successful outcomes and lasting partnerships. At TSRG, our passion is the engine that propels us to exceed expectations and deliver services with genuine enthusiasm and dedication.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item item-teal position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <a class="stretched-link">
              <h3>Respect</h3>
            </a>
            <p>Respect is woven into the very fabric of TSRG's interactions, serving as a foundational value that guides every relationship, both internally and externally. We believe in fostering an environment of mutual understanding and appreciation, where every individual's perspective is valued and heard. This commitment to respect translates into transparent communication, collaborative partnerships, and a genuine consideration for the needs and opinions of our clients, partners, and employees. We recognize that respect is not just about politeness, but about building trust and creating a positive and inclusive environment where everyone feels valued. It's the cornerstone of our ethical conduct and the basis for building strong, lasting relationships that contribute to shared success.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item item-red position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <a class="stretched-link">
              <h3>Collaboration</h3>
            </a>
            <p>Collaboration is at the heart of TSRG's approach, fostering a culture of teamwork and partnership that drives our success. We believe that by working together, sharing ideas, and leveraging diverse perspectives, we can achieve outcomes that surpass individual efforts. This collaborative spirit extends beyond our internal teams, encompassing our relationships with clients, partners, and stakeholders. We prioritize open communication, active listening, and a genuine willingness to work together towards shared goals. By fostering collaborative environments, we build strong relationships based on mutual trust and respect, leading to innovative solutions and long-term success. At TSRG, we recognize that collaboration is not just about teamwork; it's about creating a unified force that propels us towards collective achievement.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item item-teal position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <a class="stretched-link">
              <h3> Faith</h3>
            </a>
            <p> It's all about Faith, in the unwavering trust our customers place in us, is a cornerstone of TSRG's values. We recognize that this faith is not given lightly; it is earned through consistent dedication, transparency, and a proven track record of delivering on our promises. We deeply value the confidence our customers have in our ability to meet their needs and exceed their expectations. This faith translates into a commitment to upholding the highest standards of integrity, reliability, and service in all our interactions. We strive to nurture and strengthen this faith by continuously demonstrating our dedication to their success and well-being. At TSRG, we understand that faith is a precious commodity, and we are committed to honoring and reinforcing it through our unwavering commitment to excellence and customer satisfaction.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item item-teal position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <a class="stretched-link">
              <h3>Customer Centricity</h3>
            </a>
            <p>Customer centricity drives every aspect of TSRG's operations. We believe understanding and prioritizing client needs is paramount. This commitment results in proactive communication, personalized solutions, and a relentless pursuit of exceeding satisfaction. We build long-term relationships based on trust and respect, ensuring client goals are met. By placing customers at the center of our focus, we cultivate responsiveness and adaptability, delivering exceptional value and a seamless experience. We recognize our success is tied to our clients' success, and we foster partnerships that drive mutual growth.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item item-teal position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <a class="stretched-link">
              <h3>Safety</h3>
            </a>
            <p>Safety is not just a policy at TSRG; it's an ingrained value that permeates every aspect of our operations. We prioritize the well-being of our employees, clients, and partners above all else, embedding rigorous safety protocols into all our processes. This commitment translates into proactive risk assessments, comprehensive training programs, and a culture of vigilance that ensures a safe working environment. We understand that safety is not just about preventing accidents, but about fostering a mindset of responsibility and care. By consistently upholding the highest safety standards, we build trust and create an environment where everyone can operate with confidence. At TSRG, safety is non-negotiable, and we are dedicated to continuously improving our practices to ensure the well-being of all involved.
              </p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item item-red position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            <a class="stretched-link">
              <h3>Integrity</h3>
            </a>
            <p>Integrity forms the bedrock of TSRG's operations, serving as an unwavering principle that guides every decision and action. We uphold the highest ethical standards, ensuring transparency, honesty, and accountability in all our dealings. This commitment to integrity translates into building trust with our clients, partners, and employees, fostering long-term relationships based on mutual respect and reliability. We believe that integrity is not just about adhering to legal requirements, but about conducting business with unwavering moral uprightness. It's about doing what is right, even when faced with challenges, and maintaining consistency in our values and actions. At TSRG, integrity is not negotiable; it is the cornerstone of our reputation and the foundation upon which we build lasting success.</p>
            <a class="stretched-link"></a>
          </div>
        </div><!-- End Service Item -->
      </div>

    </div>

  </section><!-- /Featured Services Section -->

  <!-- About Section -->
  <!-- <section id="about" class="about section light-background">

    <div class="container">

      <div class="row gy-4">
        <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
        </div>
        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
          <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
          <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
          </p>
          <ul>
            <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
            </li>
            <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span>
            </li>
            <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla
                pariatur.</span></li>
          </ul>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
          </p>
        </div>
      </div>

    </div>

  </section>/About Section -->

  <!-- Features Section -->
  <section id="features" class="features section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>What We Stand For</h2>
      <p>Where We're Going & How We'll Get There</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4 align-items-center features-item">
        <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
          <img src="assets/img/features-1.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
          <h3>Vision</h3>
          <p class="fst-italic">
            To be the most preferred customer-centric company in India, delivering  innovative  and  flexible  industrial outsourcing solutions that drive  sustainable growth  for our clients while simultaneously enhancing the  well-being and professional development  of our workforce.
          </p>
          <!-- <ul>
            <li><i class="bi bi-check"></i><span> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
            <li><i class="bi bi-check"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
            <li><i class="bi bi-check"></i> <span>Ullam est qui quos consequatur eos accusamus.</span></li>
          </ul> -->
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item">
        <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/features-2.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
          <h3>Mission</h3>
          <p class="fst-italic">
            Forging a new era of industrial outsourcing in India, empowering businesses to thrive and empowering our workforce to flourish.  We envision a future where INR 10,000 Crores in turnover, 20+ states of presence, and 100% customer satisfaction are not just targets, but a testament to our commitment by 2031.
          </p>
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item">
        <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
          <img src="assets/img/features-3.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7" data-aos="fade-up">
          <h3>Core Values</h3>
          <p>Our core values center on delivering exceptional service through a foundation of competence and reliability. We are committed to providing a highly skilled workforce that ensures efficient operations, consistently meeting and exceeding our clients' needs and expectations. We are driven by a goal-oriented approach, focusing on helping our clients achieve their intended objectives and propel their businesses forward. Above all, we prioritize the health and safety of our workforce, fostering a safe and secure work environment.
          </p>
          <!-- <ul>
            <li><i class="bi bi-check"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
            <li><i class="bi bi-check"></i><span> Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
            <li><i class="bi bi-check"></i> <span>Facilis ut et voluptatem aperiam. Autem soluta ad fugiat</span>.</li>
          </ul> -->
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item">
        <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out">
          <img src="assets/img/features-4.svg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
          <h3>Multiple Firms Under One Group</h3>
          <p class="fst-italic">
            We utilise a flexible distribution channel, leveraging multiple specialised firms and a large team to manage a wide range of operations, ensuring adaptability to diverse client requirements.

          </p>
        
        </div>
      </div><!-- Features Item -->

    </div>

  </section><!-- /Features Section -->

  <section id="testimonials" class="testimonials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Testimonials</h2>
      <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper init-swiper">
        <owl-carousel-o [options]="customOptions">

          <ng-container *ngFor="let rating of ratings">
            <ng-template carouselSlide [id]="rating.profile_photo_url">
              <!-- <img [src]="slide.src" [alt]="slide.src" [title]="slide.description"> -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img [src]="rating?.profile_photo_url" referrerpolicy="no-referrer" class="testimonial-img" alt="">
                  <h3>{{rating?.author_name}}</h3>
                  <h4>{{rating?.relative_time_description}}</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill" *ngFor="let star of rating.ratingArray"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span>{{rating?.text}}</span>
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>

    </div>

  </section>
</main>