.footer {
    background-color: #0a7aad !important;
}
.For-box {
   color: #0a7aad !important;
}


.common-color {
    color: #504e55 !important;
}
.credit-by
{
    color: #fbd4d4 !important;
}
.space-col
{
    color: #7b1414 !important;
}