a {
    text-decoration: none !important;
}
// same height
.services-row {
  display: flex;
  flex-wrap: wrap;
}

.col-lg-6 {
  display: flex;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 100%;
}
